Unidad_4/Actividad 04_03/schema3_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 

    <xs:element name="calle" type="xs:string" />
    <xs:element name="pais" type="xs:string" />
    <xs:element name="codigo" type="xs:string" />
    <xs:element name="nombre" type="xs:string" />

    <xs:element name="etiqueta">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="calle" />
                <xs:element ref="pais" />
                <xs:element ref="codigo" />
                <xs:element ref="nombre" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>